/* Universal settings  */
/* Mobile First Design */
* {
    margin: 0 auto;
    padding: 0;
}

body {
    /* to override default Bootstrap  */
    /* background-color: #white !important;  */
}

.container {
    width: 85%;
}

.primary {
    color: #007864;
}

.secondary{
    color: #CC0000;
}

.tertiary {
    color: #CC6500;
}

.background {
    background-color: #d0bda7;
}

.outer_border {
    border-top: 3px black solid;
}

.font_preset {
    line-height: 1.7rem;
    font-size: large;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.heading {
    /* Google Font script */
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    padding-top: 25px;
    padding-bottom: 35px;
}

.boxes {
    border: 3px black solid;
    text-align: center;
    height: 100%;
    width: 100%;
}

.divisions {
    padding-top: 7%;
    padding-bottom: 10%;
}

.test_border {
    border: 3px solid black;
}

.btn a:visited {
    color: white;;
}

h2 {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}


/* Nav Bar settings */ */
nav {
    padding-top: 2%;
}
nav ul {
    list-style-type: none;
    margin-bottom: 0;
}
nav a {
    text-decoration: none;
}
nav a:visited {
    color: black;
}
nav a:hover {
    background-color: rgb(209, 209, 209);

}
nav a:active {
    background-color: rgb(209, 209, 209);
}
/* Mobile navbar = Navbar */
nav #navbar li {
    display: inline;
}

nav #navbar_dropdown {
    display: none;
}

ul {
    padding-left: 2% !important;
}

nav #navbar_dropdown a {
    padding-left: 0;
    display: block;
}
nav .individual_link {
    display: none;
    float: right;
}
nav .logo {
    display: none;
}
nav .hamburger_menu_icon {
    float: right;
    padding: 5%;
    /* padding-top: 5%; */
}

nav .hamburger_menu_icon a {
    background-color: white;
}

#category_boxes {
    display: none;
}

/* Footer */
#footer {
    position: absolute;
    width: 92vw;
    background-color: white;
    color: black;
}
#footer ul {
    padding: 0;
    list-style-type: none;
}
#footer h2 {
    text-align: center;
    padding-left: 0;
}
#footer h5 {
    padding-top: 10%;
}
#footer a {
    text-decoration: none;
}
#footer .socials {
   padding-top: 2%;
}


/* Home Page */
/* Showcase */
#showcase .showcase_image {
    width: 100%;
    /* height: 700px; */
    height: 80vh;
    background-image: url(/Pics/showcase_image_mobile.jpg);
    background-size: 100% 100%;
    opacity: 0.7;
}
#showcase .showcase_image_text {
    
    text-align: center;
}
#showcase .showcase_image_text h2{
    padding-top: 50%;
    padding-bottom: 3%;
}
#showcase .showcase_image_text p{
    padding: 0 10%;
}

/* Category Section */
#category_section {
    margin-top: 25px;
    border-top: 5px solid black;
    background-color: #007864;
}
#category_section h2 {
    padding-top: 7%;
    padding-bottom: 10%;
}
#category_section .category_title {
    margin: 20%;
}
#category_carousel{

}
#category_boxes{
    justify-content: space-between;
}
#category_boxes img {
    width: 100%;
    height: auto;
}

/* Introduction section */
#introduction {
    text-align: center;
}
#introduction .btn {
    background-color: #007864;
    color: white;
}
#introduction h3 {
    padding-top: 2%;
    padding-bottom: 2%; 
}
#introduction p {
    padding: 2% 0; 
}
#introduction a {
    text-decoration: none;
}
#introduction img {
    padding-bottom: 3%; 
}


/* Media Queries */
/* Mobile by default followed by tablet, followed by Desktop */
@media (min-width: 1px){
    
}

/* Large Phone to Tablet */
@media (min-width: 768px){
    body {
        background-color: rgb(198, 198, 255);
    }
    
    nav .logo {
        display: inline;
    }
    nav ul {
        border-bottom: 3px rgb(198, 198, 255) solid;
    }
    nav .logo_mobile {
        display: none;
    }
    nav .individual_link {
        display: inline;
        padding: 25px 25px;
        background-color: white;
    }
    nav .hamburger_menu_icon {
        display: none;
    }
    #showcase .showcase_image {
        height: 85vh;
        background-image: url(/Pics/showcase_image_tablet.jpg);
      
    }
    #showcase .showcase_image_text h2{
        padding-top: 25%;
        padding-bottom: 3%;
    }
    #showcase .showcase_image_text p{
        padding: 0 10%;
    }
    #category_section h2 {
        padding-top: 5%;
        padding-bottom: 5%;
        
    }   
    #category_carousel {
        display: none;
    }
    #category_boxes {
        display: block;
    }
    #category_boxes h3{
        color: white;
        padding: 4% 0;
    }
    #introduction .btn {
        background-color: #007864;
        padding: 28%;
        color: white;;
    }
    #introduction a {
        /* padding: 5rem; */
    }
}

/* Desktop */
@media (min-width: 1200px){
    body {
        background-color: rgb(255, 175, 175);
    }
    .container {
        width: 85%
    }
    .divisions {
        padding-top: 7%;
        padding-bottom: 10%;
    }    
    nav .individual_link {
        display: inline;
        padding: 25px 60px;
        background-color: white;
    }
    #showcase .showcase_image {
        height: 60vh;
        /* max-width: 85%; */
        background-image: url(/Pics/showcase_image_desktop.jpg);        
    }
    #showcase .showcase_image_text h2{
        padding-top: 10%;
        padding-bottom: 3%;
    }
    #showcase .showcase_image_text p{
        padding: 0 10%;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 85vw !important;
    }
}