/* Universal settings  */
/* Mobile First Design */
* {
    margin: 0 auto;
    padding: 0;
}

body {
    /* to override default Bootstrap  */
    /* background-color: #white !important;  */
}

.container {
    width: 85%;
}

.primary {
    color: #007864;
}

.secondary{
    color: #CC0000;
}

.tertiary {
    color: #CC6500;
}

.font_preset {
    line-height: 1.7rem;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.heading {
    /* Google Font script */
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    padding-top: 25px;
    padding-bottom: 25px;
}
/* 
.boxes {
    border: 3px black solid;
    text-align: center;
    height: 100%;
    width: 100%;
} */



h2 {
    color: white;
}

a {
    text-decoration: none;
}


/* Nav Bar settings */
nav {
    padding-top: 2%;
    background-color: white;
}
nav ul {
    list-style-type: none;
    background-color: white;
    margin-bottom: 0;
}
nav li {
    display: inline;
}
nav a:visited {
    color: black;
}
nav a:hover {

}
nav a:active {

}
/* Home Page */
#showcase .showcase_image {
    width: 100%;
    /* height: 700px; */
    height: 80vh;
    background-image: url(/Pics/showcase_image_mobile.jpg);
    background-size: 100% 100%;
    opacity: 0.9;
}
#showcase .showcase_image_text {
    color: white;
    text-align: center;
}
#showcase .showcase_image_text h2{
    padding-top: 50%;
    padding-bottom: 3%;
}
#showcase .showcase_image_text p{
    padding: 0 10%;
}

/* Category Section */
#category_section {
    margin-top: 25px;
    border-top: 5px solid black;
    background-color: #007864;
}

#category_section h2 {
    padding-top: 5%;
    
}
#category_section .category_title {
    margin: 20%;
}
#category_carousel{

}
#category_boxes{
    /* height: 50vh; */
    /* border: 2px black solid; */
    justify-content: space-between;
}
#category_boxes img {
    width: 100%;
    height: auto;
}


/* Media Queries */
/* Mobile by default followed by tablet, followed by Desktop */
@media (min-width: 1px){
    nav .individual_link {
        display: none;
        float: right;
    }
    nav .logo {
        display: none;
    }
    nav .hamburger_menu_icon {
        float: right;
        display: block;
    }
    #category_boxes {
        display: none;
    }
}

/* Large Phone to Tablet */
@media (min-width: 768px){
    body {
        background-color: rgb(198, 198, 255);
    }
    nav .logo {
        display: inline;
    }
    nav .logo_mobile {
        display: none;
    }
    nav .individual_link {
        display: inline;
        padding: 25px 25px;
        background-color: white;
    }
    nav .hamburger_menu_icon {
        display: none;
    }
    #showcase .showcase_image {
        height: 85vh;
        background-image: url(/Pics/showcase_image_tablet.jpg);
      
    }
    #showcase .showcase_image_text h2{
        padding-top: 25%;
        padding-bottom: 3%;
    }
    #showcase .showcase_image_text p{
        padding: 0 10%;
    }
        
    #category_carousel {
        display: none;
    }
    #category_boxes {
        display: block;
    }
}

/* Desktop */
@media (min-width: 1200px){
    body {
        background-color: rgb(255, 175, 175);
    }
    .container {
        width: 85%
    }
    nav .individual_link {
        display: inline;
        padding: 25px 60px;
        background-color: white;
    }
    #showcase .showcase_image {
        height: 60vh;
        /* max-width: 85%; */
        background-image: url(/Pics/showcase_image_desktop.jpg);        
    }
    #showcase .showcase_image_text h2{
        padding-top: 12%;
        /* padding-bottom: 3%; */
    }
    #showcase .showcase_image_text p{
        padding: 0 10%;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 85vw !important;
    }
}